<div class="container">
	<br>
	<br>
	<br>
  <div class="jumbotron">
  	<br>
  	<p>Notice something on the app that isn't quite right?</p>
  	<p>Have a question or just want to get in touch? Shoot me an email!</p>
  	<p><strong>contact@sdsuevents.com</strong></p>
  	<br>
  </div>
</div>