/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootswatch/simplex/variables';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootswatch/simplex/bootswatch';

body {padding: 40px;}
body { padding-top: 60px;}

body { 
  background: url('http://i.imgur.com/Lv5WvKk.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
} 

.jumbotron{
	padding: 15px; 
}





.float-right {
    float: right;
}

.clear {
  clear: both;
}


/* to do list:

	- add hover states for buttons
	- add SDSU branding
	- add jumbotron explaining the website to frontpage
	- prevent users from changing name
	- implement web crawling

	*/

	
