body {padding: 40px;}
body { padding-top: 60px;}

body {
  line-height: 1.5;
  color: white;
  background: url('http://i.imgur.com/Lv5WvKk.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
} 




.float-right {
    float: right;
}

.clear {
  clear: both;
}


/* to do list:

	- add hover states for buttons
	- add SDSU branding
	- add jumbotron explaining the website to frontpage
	- prevent users from changing name
	- implement web crawling

	*/

	
