body {padding: 40px;}
body { padding-top: 60px;}

/* body {
  line-height: 1.5;
  color: white;
  background: url('https://upload.wikimedia.org/wikipedia/commons/0/0a/Sdsumain.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
} */


.float-right {
    float: right;
}

.clear {
  clear: both;
}